.avatarWrapper {
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  background: white;
}
.avatar {
  width: 240px;
  height: 240px;
  margin: 16px;
  border-radius: 50%;
}